{% load static %}
<!DOCTYPE html>
<html><head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="D:\Academics Practicals\GamblingDj\gambler\static\game over.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'game over.css' %}">
    <title>Game Over</title>
</head>
<body>
    <div class="v4_36">
        <span class="v4_37">Game Over</span>
        <div class="v4_40"></div>
        <div class="v4_43"></div>
        <div class="name">
            <a href="{% url 'toss' %}" class="btnCash">Try Again</a>
        </div>
        <span class="v7_54">Landing Side was tails </span>
    </div>
</body>
</html>